.App {
  text-align: center;
}
body{
  background-color: #4158d0;
  background-image: linear-gradient(43deg,#4158d0,#c850c0 46%,#bdaa86);
  align-items: center;
}
.sigin{
  margin: 7% 32%;
  border: 1px solid black;
  background-color: skyblue;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.sigin p{
  cursor: pointer;
}
.sigin:hover{
  transform: translateY(-10px);
  box-shadow: 3px 4px 3px black;
}
.item{
  display: grid;
  gap: 4rem;
}
.items{
  display: grid;
  gap: 1rem;
}
.sigin h1{
  margin: 10px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px 10px 20px; 
}
.flex button{
  width: 170px;
}
.card{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* border-bottom:1px solid #fdf2f2; */
  width: 100%;
  padding: 10px;
}
.border{
  border-bottom:1px solid #fdf2f2;
}
.header{
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  margin: 20px;
  gap:3%;
  padding:17px;
}
@media (max-width : 900px){
  .sigin{
    margin: 10px 20px;
  }
  .header{
    display: grid;
    grid-template-columns: auto;
  }
}